* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

h1, h2 {
    font-family: 'Source Sans Pro', sans-serif;
}

ul {
    list-style: none;
}

ul li {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}